<% layout('layouts/boilerplate') %>

<h1>All Trails</h1>
<div>
  <a href="/trails/new">Add Trail</a>
</div>
<ul>
  <% for (let trail of trails) { %>
  <li><a href="/trails/<%= trail._id %>"><%= trail.title %></a></li>
  <% } %>
</ul>
